<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.virginia.cs.httpscs4720.barmate" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-sdk android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:largeHeap="true"
        android:label="BarMate"
        android:theme="@style/MaterialTheme" >

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".lookup_results"
            android:label="@string/title_activity_lookup_results"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs.httpscs4720.barmate.MainActivity" />
        </activity>
        <activity
            android:name=".Good_Recipe"
            android:label="@string/title_activity_good__recipe"
            android:parentActivityName=".lookup_results" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs.httpscs4720.barmate.lookup_results" />
        </activity>
    </application>

</manifest>
